# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pygame specific
*.log

# Windows
Thumbs.db
ehthumbs.db
